body {
  font-family: sans-serif;
}

.hidden {
  display: none;
}
                           
.message {
  max-width: 30rem;
  margin: 0.5rem auto;
  background-color: #fed;
  text-align:center;
  border-radius:1rem;
  padding: 0.5rem 1.5rem;
}
.message ul, .message ol {
  text-align: left;
}
                           
#wrapper {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
}

#footer {
  max-width: 30rem;
  margin-left:auto;
  margin-right:auto;
  font-size: 65%;
  text-align: center;
}
#footer a:link, #footer a:visited {
  color: inherit;
}
